 body,
 html {
     height: 100%;
     margin: 0;
 }

 .login-container {
     min-height: 100vh;
     display: flex;
 }

 body {
     background: linear-gradient(135deg, #ffffff, #2f8f8a);
 }

 .login-form {
     max-width: 400px;
 }

 .password-toggle {
     cursor: pointer;
     user-select: none;
 }